:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #00b5ad;
}

.slidev-layout {
  margin-left: 5%;
}

.slidev-layout.intro {
  h1 {
    color: var(--slidev-theme-primary);
  }

  background-image: url("../assets/bg.svg");
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1+p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p+h2,
  ul+h2,
  table+h2 {
    @apply mt-10;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-5xl;
  }
}

.slidev-layout.quote,
.slidev-layout.section {
  @apply flex flex-col justify-center ml-20;

  background-image: url("../assets/bg.svg")
}

.slidev-layout.end {
  background-image: url("../assets/bg-alt.svg")
}